<div class="toolbar" role="banner">
    <img
      class="logo-main"
      alt="Angular Logo"
      src="../assets/images/sankey-solutions.png"
    />
    <span>Employee Management System</span>
      <div class="spacer"></div>
      <div>
        <button routerLink = "/Register" class="signup">Sign Up</button>
      </div>
      
</div>
  
<div class="content" role="main">
</div>

<div class="main">
  <form #signInForm = "ngForm" (ngSubmit) = "signInForm.valid && onSubmit(signInForm)">

    <div class="imgcontainer">
      <img src="../assets/images/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">

      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="model.email" 
          class="form-control" placeholder="Enter Email" [pattern]="emailRegex" required
          [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
  
        <div *ngIf="signInForm.submitted && email.errors">
          <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" 
        class="form-control" placeholder="Password" required minlength="4"
        [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">

        <div *ngIf="signInForm.submitted && password.errors">
          <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="password.errors.minlength" class="validation-message">Minimum 4 characters.</label>
        </div>
      </div>

      <button type="submit" value="Sign In">Sign In</button>
 
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

  <div class="alert" *ngIf = "serverErrorMsg">
    <p>{{serverErrorMsg}}</p>
  </div>
  
</div>
