<div class="toolbar" role="banner">
    <img
      class="logo-main"
      alt="Angular Logo"
      src="../assets/images/sankey-solutions.png"
    />
    <span>Employee Management System</span>
      <div class="spacer"></div>
      <div>
        <button routerLink = "/UserProfile" class="signup">Profile</button>
      </div>
      <div>
        <button (click)="onLogout()" class="signup">Sign Out</button>
      </div>
      
</div>
  
<div class="content" role="main">
</div>

<div class="elist">


  <button style="margin-bottom: 25px;" mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>

  
  <table class="tablehead" mat-table [dataSource]="dataSource" #mytable matSort class="mat-elevation-z8">
  

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
      <td style="width: 15%;" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td style="width: 20%;" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
      <td style="width: 25%;" mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfJoining">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Joining </th>
      <td style="width: 18%;" mat-cell *matCellDef="let element"> {{element.dateOfJoining}} </td>
    </ng-container>

    <ng-container matColumnDef="yearsOfExp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Years of Experience </th>
      <td style="width: 15%;" mat-cell *matCellDef="let element"> {{element.yearsOfExp}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container *ngIf = "checkAction" matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td style="width: 25%;" mat-cell *matCellDef="let element" class="action-link"> 
        <a style="cursor: pointer; color: blueviolet;" (click)="openDialog('Update',element)">Edit</a> | 
        <a style="cursor: pointer; color: red;" (click)="openDialog('Delete',element)">Delete</a>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click) = "logData(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>